<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<title>Brecho.me | Monte seu brechó e comece a vender! Crie sua conta e comece a comprar!</title>
	<link rel="icon" type="image/png" href="/static/img/favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="/static/img/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/static/img/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/static/img/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/img/favicon-16x16.png" sizes="16x16">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="static/css/main.min.css">	
</head>
<body>

	<main id="container">
		<header id="header" class="clearfix">
			<div class="wrapper">
				<a href=""><img src="static/img/marca.png" alt=""></a>
				<div id="interacao" class="right">
					<ul id="menu">
						<li><a href="">Ajuda</a></li>
						<li><a href="">Entrar</a></li>
						<li><a href="">Navegar</a></li>
					</ul>
					<a href="" id="cadastro" class="radius right transition">Quero meu brechó</a>
				</div>
			</div>
		</header>

		<section id="mainProduct" class="clearfix wrapper">
			<section id="titlePage">
				<h1>Antiguidades</h1>
			</section>
			<section class="sidebarLeft left">
				<h2>VASINHO DE FLORES RETRÔ</h2>
				<h3>Descriçãos</h3>
				<p>vasinho de flores retrô lindo mini vaso de flores em cerâmica à antiga. pequenininho... fica lindo no banheiro! ou qualquer cantinho especial da casa!</p>
			</section>
			<section class="gallery left">
				<div class="cr-container" id="cr-container">
						<div class="cr-content-wrapper" id="cr-content-wrapper">
							<div class="cr-content-container" id="content-1" style="display:block;">
								<img src="static/img/products/1.jpg"class="cr-img"/>
							</div>
							<div class="cr-content-container" id="content-2">
								<img src="static/img/products/2.jpg"class="cr-img"/>
							</div>
							<div class="cr-content-container" id="content-3">
								<img src="static/img/products/3.jpg"class="cr-img"/>
							</div>
							<div class="cr-content-container" id="content-4">
								<img src="static/img/products/4.jpg"class="cr-img"/>
							</div>
							<div class="cr-content-container" id="content-5">
								<img src="static/img/products/5.jpg"class="cr-img"/>
							</div>
							<div class="cr-content-container" id="content-6">
								<img src="static/img/products/6.jpg"class="cr-img"/>
							</div>
							<div class="cr-content-container" id="content-7">
								<img src="static/img/products/7.jpg"class="cr-img"/>
							</div>
							<div class="cr-content-container" id="content-8">
								<img src="static/img/products/8.jpg"class="cr-img"/>
							</div>
						</div>
						<div class="cr-thumbs">
							<div data-content="content-1" class="cr-selected"><img src="static/img/products/thumbs/1.jpg"/></div>
							<div data-content="content-2"><img src="static/img/products/thumbs/2.jpg"/></div>
							<div data-content="content-3"><img src="static/img/products/thumbs/3.jpg"/></div>
							<div data-content="content-4"><img src="static/img/products/thumbs/4.jpg"/></div>
							<div data-content="content-5"><img src="static/img/products/thumbs/5.jpg"/></div>
							<div data-content="content-6"><img src="static/img/products/thumbs/6.jpg"/></div>
							<div data-content="content-7"><img src="static/img/products/thumbs/7.jpg"/></div>
							<div data-content="content-8"><img src="static/img/products/thumbs/8.jpg"/></div>
						</div>
					</div><!-- cr-container -->
			</section>
			<section class="sidebarRight left">
				<a href="" class="btBuy radius transition">Quero comprar</a>
			</section>

		</section>

		
	</main><!-- fim container -->

	<!-- Scripts e bibliotecas -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script src="static/js/modernizr.js"></script>
	<script src="static/js/main.min.js"></script>
	<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
	<!-- the jScrollPane script -->
	<script type="text/javascript" src="static/js/jquery.mousewheel.js"></script>
	<script type="text/javascript" src="static/js/jquery.jscrollpane.min.js"></script>
	<script type="text/javascript" src="static/js/jquery.crotator.js"></script>
	<script type="text/javascript">
		$(window).load(function(){
			$('#cr-container').crotator();
		});
	</script>

</body>
</html>